<!DOCTYPE html>
<html ng-app="toroTest">
  <head>
    <meta charset="utf-8">
    <title>Toro Test v_1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/main.min.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller='mainController as mCtrl'>
    <div class="container">
      <h1 class="ng-cloak">{{mCtrl.init}}</h1>
      <p class="lead">Select a file and upload it to Uploads folder</p>
        <form name="mCtrl.upload_form">
        <div class="input-group">
          <span class="input-group-btn">
            <label class="btn btn-primary btn-file" for="multiple_input_group">
              <div class="input required"><input id="multiple_input_group" type="file" ngf-select ng-model="mCtrl.file" name="file"></div> Browse
            </label>
          </span>
          <span id="file-label" class="file-input-label"></span>
        </div>
        <button id="submitBtn" type="submit" class="btn btn-default" ng-click="mCtrl.submit()">submit</button>
      </form>
      <div class="table-responsive">
      <table class="table table-striped">
        <th ng-repeat="x in mCtrl.headers">
          <td>{{x}}</td>
        </th>
      </table>
    </div>
    </div>
  </body>
  <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript">
      var file = document.getElementById('multiple_input_group');
      file.onchange = function(){
        var input = this,
        numFiles = input.files ? input.files.length : 1,
        label = input.value.replace(/\\/g, '/').replace(/.*\//, ''),
        inputLabel = document.getElementById('file-label'),
        log = numFiles > 1 ? numFiles + ' files selected' : label,
        submitBtn = document.getElementById('submitBtn');
        inputLabel.innerHTML = log;
        setTimeout(function(){
            submitBtn.click();
        },200)
      }
  </script>
</html>
